@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'M PLUS Rounded 1c', sans-serif;
  color: #1E2328;
}

main {
  background-color: #1E2328;
}

section {
  padding: 50px 100px;
  max-width: 1440px;
  margin: auto;
}

h1 {
  padding: 25px 0px;
  color: #F5B301;
  font-size: 2.5em;
  font-weight: 700;
  text-transform: uppercase;
  width: fit-content;
}

h2 {
  padding: 25px 0px;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  width: fit-content;
}

.observer-target {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 0.75s;
}

.observer-target-in {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0); 
}

div.tech-item {
  display: flex;
  flex-grow: 0; 
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: center;
  width: 5rem;
  height: 5rem;
}

img.tech-icon {
  height: 100%;
  width: 100%;
  max-height: 4rem;
  max-width: 4rem;
}

div.carousel {
  height: 315px;
  width: 560px;
  margin: 0 auto;
}

button.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  height: 3rem;
  z-index: 5;
}

button.carousel-button-left {
  left: -2.5rem;
}

.carousel-button-right {
  right: -2.5rem;
}

.carousel-button img {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

.carousel-slide iframe {
  height: 100%;
  width: 100%;
}

.carousel-track-container {
  height: 100%;
  position: relative;
  margin-bottom: 0 !important;
}

.carousel-track {
  list-style: none;
}

.carousel-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

div.carousel-nav {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.carousel-nav-item {
  border: 0;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  margin: 0 0.25rem;
  background-color: #aaa;
  cursor: pointer;
}

.carousel-nav-item-active,
.carousel-nav-item:hover
{
  background-color: #1E2328;
}

@media (max-width: 992px) {
  section {
    padding: 50px 20px;
  }
}