@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'M PLUS Rounded 1c', sans-serif;
  color: #1E2328;
}

main {
  background-color: #1E2328;
}

section {
  padding: 50px 100px;
  max-width: 1440px;
  margin: auto;
}

h1 {
  padding: 25px 0px;
  color: #F5B301;
  font-size: 2.5em;
  font-weight: 700;
  text-transform: uppercase;
  width: fit-content;
}
h2 {
  padding: 25px 0px;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  width: fit-content;
}

.observer-target {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 0.75s;
}

.observer-target-in {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0); 
}

.tech-item {
  display: flex;
  flex-grow: 0; 
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: center;
  width: 5rem;
  height: 5rem;
}

.tech-icon {
  height: 100%;
  width: 100%;
  max-height: 4rem;
  max-width: 4rem;
}

@media (max-width: 992px) {
  section {
    padding: 50px 20px;
  }
}